{{ if le .Page.Weight 100 }}

{{ $chapter := 0 }}
{{ if eq .Page.BundleType "branch" }}
    {{ $chapter = sub .Page.Weight 1 }}
{{ else }}
    {{ $chapter = sub .Page.Parent.Weight 1 }}
{{ end }}

<button id="footer-question-btn" title="Envoyer un message à propos du texte sélectionné" onclick="openQuestionForm()" disabled><i class="fas fa-question-circle"></i></button>

<div id="footer-question-window" disabled>
    <form id="question" method=POST action="https://formsubmit.co/3aa0f379a1aed9c454634cc2da153a7b"
        target="question-submitted" onsubmit="cleanQuestionFormContent()">

        <input type="email" name="email" placeholder="mon_email@smthg.com" required onchange="updateQuestionFormSubject()" />
        <textarea name="question" rows="7" cols="30" placeholder="Mon message..."></textarea>
        <input type="hidden" name="selection" />

        <input type="hidden" name="_replyto" />
        <input type="hidden" name="_subject" />
        <input type="hidden" name="_template" value="box" />
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_next" value="{{ .Site.BaseURL }}/question-submitted/" />

        <input type="submit" disabled style="display: none" aria-hidden="true" />
        <input type="submit" value="Envoyer" />
    </form>

    <iframe class="hidden" name="question-submitted" src=""></iframe>
</div>

<script>

    function updateQuestionFormSubject() {
        let email = document.querySelector('#question>input[name="email"]').value;
        document.querySelector('#question>input[name="_subject"]').value = "[C++][Chapitre {{ $chapter }}] " + email + ", retour sur ta question";
    }

    function cleanQuestionFormContent() {

        function clean(element) {
            // The following sequences are not handled by FormSubmit.
            element.value = element.value.replace(/\[\.\./g, "[ ..");
        }

        clean(document.querySelector('#question>textarea[name="question"]'))
        clean(document.querySelector('#question>input[name="selection"]'))
    }

    function openQuestionForm() {
        document.getElementById("footer-question-window").removeAttribute("disabled");

        var selection = window.getSelection().toString();
        document.querySelector('#question>input[name="selection"]').value = selection
    }

    function updateQuestionWidgetState(event) {
        var body = document.getElementById("body-inner");
        var selection = window.getSelection();
        var question_window = document.getElementById("footer-question-window");

        document.getElementById("footer-question-btn").disabled =
            selection.isCollapsed ||
            body == null ||
            body.contains(selection.anchorNode) == false ||
            body.contains(selection.focusNode) == false;

        if (event !== undefined
            && event.type == "mouseup"
            && question_window.contains(event.target) == false
            && question_window.contains(document.activeElement) == false) {
            question_window.setAttribute("disabled", true);
        }
    }

    updateQuestionFormSubject();

    document.onmouseup = document.onkeyup = document.onselectionchange = updateQuestionWidgetState;
    updateQuestionWidgetState();

</script>

{{ end }}